{
    auto_https disable_redirects
}

https://192.168.1.4:8443 {
    tls /var/www/vms-livewire/.certs/192.168.1.4.pem /var/www/vms-livewire/.certs/192.168.1.4-key.pem
    reverse_proxy 127.0.0.1:8001
}
