@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-mist-50: #fafafa;
    --color-mist-100: #f5f5f5;
    --color-mist-200: #e5e5e5;
    --color-mist-300: #d4d4d4;
    --color-mist-400: #a3a3a3;
    --color-mist-500: #737373;
    --color-mist-600: #525252;
    --color-mist-700: #404040;
    --color-mist-800: #262626;
    --color-mist-900: #171717;
    --color-mist-950: #0a0a0a;

    --color-zinc-50: var(--color-mist-50);
    --color-zinc-100: var(--color-mist-100);
    --color-zinc-200: var(--color-mist-200);
    --color-zinc-300: var(--color-mist-300);
    --color-zinc-400: var(--color-mist-400);
    --color-zinc-500: var(--color-mist-500);
    --color-zinc-600: var(--color-mist-600);
    --color-zinc-700: var(--color-mist-700);
    --color-zinc-800: var(--color-mist-800);
    --color-zinc-900: var(--color-mist-900);
    --color-zinc-950: var(--color-mist-950);

    --color-accent: var(--color-lime-400);
    --color-accent-content: var(--color-lime-600);
    --color-accent-foreground: var(--color-lime-900);
}

@layer theme {
    .dark {
        --color-accent: var(--color-lime-400);
        --color-accent-content: var(--color-lime-400);
        --color-accent-foreground: var(--color-lime-950);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
